<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCxLHjn8vmQEc1AjX2esm4AXEUWeShVR5s</string>
	<key>GCM_SENDER_ID</key>
	<string>432911923898</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.attendex</string>
	<key>PROJECT_ID</key>
	<string>attendex-final</string>
	<key>STORAGE_BUCKET</key>
	<string>attendex-final.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:432911923898:ios:9d4f2eb7fa35a1d7f36083</string>
	<key>DATABASE_URL</key>
	<string>https://attendex-final-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>